<%- include('./partials/head') -%>

    <div class="container" class="margin1">
        <div class="row">
            <div class="col">
                <a href="#" class="text-white">Team</a>
            </div>
            <div class="col">
                <a href="#" class="text-white">Interprise</a>
            </div>
            <div class="col">
                <a href="#" class="text-white">Marketplace</a>
            </div>
            <div class="col">
                <a href="#" class="text-white">Pricing</a>
            </div>
            <div class="col">
                <input type="text" placeholder="search github">
            </div>
            <div class="col">
                <a href="login" class="text-white">Sign in</a>
            </div>
            <div class="col">
                <a href="register" class="text-white">Sign up</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Where the world builds software</h1>
                <h3>
                    Millions of developers and companies build, ship, and maintain their software on GitHub—the largest
                    and most advanced development platform in the world.
                </h3>
                <form action="/" method="post">
                    <input type="email" name="email" placeholder="Email" id="inpregister1">
                    <button type="submit" class="btn btn-success">Sign up for github</button>
                </form>
            </div>
            <div class="col">
                <img src="img/1.jpg" alt="">
            </div>
        </div>
    </div>




    <%- include('./partials/foot') -%>