<%- include('./partials/head') -%>

    <h2>Sign in github</h2>
    <form action="" method="post">
        <p>Email</p>
        <input type="email" name="email" placeholder="Email"> <br>
        <p>Password</p>
        <input type="password" name="password" placeholder="Password"> <br>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
    <h5 align="center">
        new to github <a href="register">Create an account</a>
    </h5>
    <h5 align="center">
        <a href="/">Main pages</a>
    </h5>

<%- include('./partials/foot') -%>